*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    width: 1250px;
    margin: 190px auto 0px;
    background-color: #F5F5F5;
    /*border-top: 1px solid #ccc;*/
    box-shadow: 0px 1px .5px .5px #ccc inset;
    padding-bottom: 45px;
}

/*轮播*/
.flexslider {
	margin: 0px auto 20px;
	position: relative;
	width: 100%;
	height: 355px;
	overflow: hidden;
    zoom: 1;
    padding-bottom: 25px;
}
.flexslider .slides li {
	width: 100%;
	height: 100%;
}
.flex-direction-nav a {
	width: 70px;
	height: 70px;
	line-height: 99em;
	overflow: hidden;
	margin: -35px 0 0;
	display: block;
	background: url(../img/ad_ctr.png) no-repeat;
	position: absolute;
	top: 45%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	border-radius: 35px;
}
.flex-direction-nav .flex-next {
	background-position: 0 -70px;
	right: 0;
}
.flex-direction-nav .flex-prev {left: 0;}
.flexslider:hover .flex-next {
	opacity: 0.8;
	filter: alpha(opacity=25);
}
.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter: alpha(opacity=25);
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter: alpha(opacity=50);
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 15px;
	text-align: center;
}
.flex-control-nav li {
	margin: 0 2px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.flex-control-paging li a {
	background: url(../img/dot.png) no-repeat 0 -16px;
	display: block;
	height: 16px;
	overflow: hidden;
	text-indent: -99em;
	width: 16px;
	cursor: pointer;
}
.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
	background-position: 0 0;
}

.flexslider .slides a img {
	width: 1250px;
	height: 355px;
	display: block;
}

/*推荐关注*/
.tjgz{
    margin-top: 45px;
    position: relative;
}
.tuijian1{
    display: flex;
    justify-content: space-between;
    width: 170px;
    background-color: #F5F5F5;
    margin: 0 auto
}
.tuijian1 div{
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-image: url(../img/icon-normal.png);
    background-position: 0 -2981px;
}
.tuijian1 h1{
    line-height: 36px;
    color: #333;
}
.floor1{
    margin-bottom:15px;
    margin-top: 15px;
    
}
.first{
    display: flex;
    flex-wrap: wrap;
}
#left-b{
    margin-bottom: 10px;
}
#left-b .left-s{
    width: 610px;
    height: 430px;
    background-color: #fff;
    margin: 15px 0px 0px 10px;
    position: relative;
}
#left-b img{
    width: 430px;
    margin: 20px 110px;
    overflow: hidden;
    transition: all 1s;
}
#left-b img:hover{transform:scale(1.05);}

#left-b .tp{
    width: 610px;
    height: 100px;
    background-color: #fff;
    margin: 0px 0px 0px 10px;
    /*position: relative;*/
    display: flex;
    line-height: 30px;
    justify-content: space-between;
}
.tp .title{
    /*position: absolute;*/
    margin-top:35px;
    margin-left: 15px;
}
.title a{
    font-size: 23px;
    color: #333;
}
.title a:hover{
    color: #b4a078;
}
.title-font{
    margin-top:35px;
    margin-right: 15px;
    font-size: 27px;
    color: #C34B4B;
} 
.talk{
    font-size: 16px;
    color: #ccc;
    border: 1px solid#ccc;
    position: absolute;
    top: 55px;
    right: 55px;
    padding: 4px 5px;
}

#right-t{
    margin: 15px 0px 0px 0px;
    
}
.small{
    width: 610px;
    height: 260px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
.small a{
    display: block;
    width: 260px;
    height: 260px;
    overflow: hidden;
}
.small a img{
    width: 260px;
    height: 260px;
    margin: 0px;
    overflow: hidden;
    transition: all 1s;
}
.small a img:hover{
    transform: scale(1.05);
}
.talk1{
    position: absolute;
    font-size: 16px;
    color: #ccc;
    border: 1px solid#ccc;
    top: 55px;
    left: 275px;
    padding: 4px 5px;
}
.small .title{
    position: absolute;
    top: 130px;
    left: 275px;
}
.small .title-font{
    position: absolute;
    top: 150px;
    left: 275px;
}
#bottom-small{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px 15px 0px;
}

/*floor2全部新品*/
.floor2{
    margin-top: 35px;
    width: 1250px;
    background-color: #fff;
}
.floor2 a{
    color: #333;
}
.floor2-h h1{
    padding-top: 30px;
    color: #333;
    text-align: center;
}
.floor2 .td{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}
.fl{
    margin: 35px 10px 0px 10px;
    padding-right: 130px;
}
.t{
    font-size: 16px;
    color: #ccc;
}

.fl a:hover{
    color: #b4a078;
}
.zzs{
    margin: 15px 10px 0px 10px;
    padding-right: 110px;
}

.zzs a:hover{
    color: #b4a078;
}
.ps{
    margin: 15px 10px 0px 10px;
    padding-bottom: 15px;
    padding-right:1050px;
}
.ps a:hover{
    color: #b4a078;
}
.px{
    margin: 15px 10px 0px 10px;
    padding-right:1020px;
    position: relative;
}
.px a:hover{
    color: #b4a078;
}
/*floor3 本期新品*/
.floor3{
    background-color: #fff;
    padding-top: 35px;
    padding: 35px 10px 10px 10px;
}
.floor3 h1{
    color: #333;
    text-align: center;
}
#product-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
}
.p-img{
    width: 242px;
    height: 242px;
    background-color: #f4f4f4;
    overflow: hidden;
}
.p-img img{
    width: 242px;
    transition: all 1s;

}
.p-img img:hover{
    transform: scale(1.05);
}
.product{
    width: 242px;
    height: 361px;
    margin: 10px 0;
}
.p-t{
    width: 242px;
    height: 107px;
}
.p-title{
    margin-top: 15px;
    text-align: center;
}
.p-title a{
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.p-title a:hover{
    color: #b4a078;
}
.p-price{
    color: #C34B4B;
    font-size: 16px;
    /*text-align: center;*/
    display: inline-block;
    width: 135px;
    margin: 5px 55px;
    padding:0px 55px 5px 55px;
    border-bottom: 1px solid #ccc;
}
.p-d{
    color: #ccc;
    font-size: 15px;
    text-align: center;
}
/*新品预告*/
.floor4{
    background-color: #fff;
    padding-top: 35px;
    padding: 35px 10px 10px 10px;
}
.floor4 h1{
    color: #333;
    text-align: center;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
}
#yg-list .yg{
    position: relative;
}
#yg-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}
.jjsj{
    position: absolute;
    width: 242px;
    height: 35px;
    line-height: 35px;
    bottom: 1px;
    display: flex;
    justify-content: space-around;
    background-color: #E8BF5B;
    margin: 3px 0px;
}
.jjsj span{
    font-size: 14px;
    color: #fff;
}
.jjsj div{
    height: 26px;
    margin-top: 4px;
    line-height: 26px;
    padding: 0 10px;
    color: #333;
    background-color: #fff;
    border-radius: 3px;
    font-size: 14px;
}


#f4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}
#f5{
    width: 1230px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}
#f6{
    width: 1230px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}