#bg{
    width: 1450px;
    margin: 0 auto;
    position: relative;
    background-color: #F4F0EA;
    padding: 100px 0px;
}
.bg_img{
    background-image:url("../img/loginBg.jpg");
    width:100%;
    height:800px;
}
.bg_img{
    content:"";
    display:table;
}
form{
    width:610px;
    height:530px;
    margin:100px auto;
    background:rgba(219, 196, 147,.3);
}

.i1{
    position: absolute;
    left: 45px;
    top: 45px;
}

.top5{
    display: inline-block;
    height: 65px;
    line-height: 65px;
    text-align:center;
    width: 100%;
    font-size: 18px;
    color: #999;
    border-bottom:1.5px solid rgba(194, 191, 191,.3);
}
.input{
    border-radius: 3px;
    outline: none;
    border:none;
    width:280px;
    height:40px;
    margin: 15px 0px 0px 15px;
    text-indent: 10px;
    background-color:#dbc49329; 
    
}
.form_group{
    display: inline-block;
    float:left;
    color: #999;
    font-size: 16px;
}
.form_group .lb{
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-left: 15px;
}
.form_group .input{
    color: rgba(219, 196, 147,.6);
    color: #999;
}
.form_group span{
    margin-left: 10px;
}
.msg{
    display: inline-block;
    padding: 2px 2px 2px 2px;
    line-height: 20px;
    height:25px;
    border-radius: 3px;
}

.checkbox{
    clear: both;
    padding-top: 15px;
    padding-left: 35px;
    text-align:left;
    display: block;
    color: #DBC493;
}
.checkbox a{
    text-decoration: none;
    color: #B4A078;
}
.reg{
    border: none;
    width: 200px;
    height: 45px;
    background-color: #B4A078;
    display: block;
    margin: 20px auto;
    font-size: 18px;
    color: #DBC493;
    border-radius: 3px;
}
.foot{
    border-top: 1.5px solid rgba(194, 191, 191,.6);
}
.foot a{
    text-decoration: none;
    color: #DBC493;
}
.foot1{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    height: 25px;
    line-height: 25px;
    margin-top: 12px;
}
.foot1 img{
    vertical-align: middle;
}
.foot1 span{
    color: #DBC493;
}
.foot1 span a{
    text-decoration: none;
    color: #B4A078;
}